# Get rid of Gemfile.lock, which is inappropriate in a gem.
Gemfile.lock
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/pkg/
/test/dummy/
/spec/tmp/*
.yardoc
doc/
**.orig
rerun.txt
pickle-email-*.html
