<!DOCTYPE html>
<html>
<head>
  <title>Afterburnercms</title>
  <%= stylesheet_link_tag    "afterburnercms/application", :media => "all" %>
  <%= javascript_include_tag "afterburnercms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
